<!DOCTYPE html>
{% extends 'base/index.html' %} {% load static %} {% block content %}
<section class="about-us mt-5">
  <h1 class="text-center">About Us</h1>
  <p class="mt-5">
    Welcome to HQE Cars, your premier destination for all things automotive.
    With a passion for performance and a commitment to quality, HQE Cars is your
    trusted source for top-of-the-line car parts and accessories. Whether you're
    a seasoned mechanic or a DIY enthusiast, our extensive inventory boasts
    everything you need to enhance and maintain your vehicle. At HQE Cars, we
    prioritize customer satisfaction above all else, offering unparalleled
    expertise, exceptional service, and competitive prices. Trust HQE Cars for
    all your automotive needs, and experience the difference of excellence in
    every drive.
  </p>
</section>
{% endblock %}
