<!DOCTYPE html>
{% extends 'base/index.html' %} {% load static %} {% block content %}
<section class="about-us mt-5">
  <h1 class="text-center">HQE CARS - Terms of Service</h1>
  <p class="mt-5">
    Welcome to HQE Cars! These Terms of Service govern your use of our website
    and services. By accessing or using HQE Cars, you agree to comply with these
    terms. Acceptance of Terms: By accessing or using HQE Cars, you agree to
    these Terms of Service. If you do not agree with any part of the terms, you
    may not access the website or use our services. Use of Services: HQE Cars
    provides a platform for purchasing automotive parts and accessories. You
    agree to use our services for lawful purposes only and not to violate any
    laws, regulations, or third-party rights. Account Registration: To access
    certain features of HQE Cars, you may need to create an account. You are
    responsible for maintaining the confidentiality of your account information
    and for all activities that occur under your account. Purchases: By making a
    purchase through HQE Cars, you agree to pay the specified price for the
    selected products. All sales are final unless otherwise stated. HQE Cars
    reserves the right to change prices or discontinue products at any time.
    Intellectual Property: All content on HQE Cars, including but not limited to
    logos, graphics, text, and images, is the property of HQE Cars and protected
    by intellectual property laws. You may not use, modify, or distribute any
    content from HQE Cars without our prior written consent. Third-Party Links:
    HQE Cars may contain links to third-party websites or services. We are not
    responsible for the content or actions of these third parties and encourage
    you to review their terms of service and privacy policies. Limitation of
    Liability: HQE Cars is provided on an "as is" and "as available" basis. We
    make no warranties or representations about the accuracy or reliability of
    the website or its content. In no event shall HQE Cars be liable for any
    indirect, incidental, special, or consequential damages arising out of or in
    connection with your use of the website or services. Indemnification: You
    agree to indemnify and hold harmless HQE Cars, its affiliates, officers,
    employees, and agents from any claims, damages, or losses arising out of
    your use of the website or services, or your violation of these Terms of
    Service. Changes to Terms: HQE Cars reserves the right to update or modify
    these Terms of Service at any time without prior notice. Your continued use
    of the website or services after any changes indicates your acceptance of
    the revised terms. Governing Law: These Terms of Service shall be governed
    by and construed in accordance with the laws of [Jurisdiction], without
    regard to its conflict of law principles. If you have any questions or
    concerns about these Terms of Service, please contact us at [hqe.com]. Thank
    you for choosing HQE Cars!
  </p>
</section>
{% endblock %}
